#!KAMAILIO
debug=2
log_stderror=no
log_facility=LOG_LOCAL0
fork=yes
children=4
enable_tls=1
port=5060
listen=udp:0.0.0.0:5060
listen=tls:0.0.0.0:5061
mhomed=1
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "jsonrpcs.so"
loadmodule "tls.so"
loadmodule "htable.so"
loadmodule "rtpengine.so"
modparam("tls", "tls_method", "TLSv1.2")
modparam("tls", "certificate", "/etc/kamailio/tls/server.crt")
modparam("tls", "private_key", "/etc/kamailio/tls/server.key")
modparam("tls", "verify_certificate", 0)
modparam("tls", "require_certificate", 0)
modparam("rr", "enable_full_lr", 1)
modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:2223")
modparam("htable", "htable", "loc=>size=8;autoexpire=7200;")
request_route {
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }
    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    if ($si == "172.31.15.109") {
        if (is_method("INVITE")) {
            if ($sht(loc=>$rU) != $null) {
                $du = "sip:" + $sht(loc=>$rU);
                rtpengine_offer();
                xlog("L_INFO", "INVITE de PBX hacia cliente real: $rU -> $du\n");
                t_relay();
                exit;
            } else {
                xlog("L_WARN", "Sin ubicacion registrada para $rU\n");
                sl_send_reply("404", "Not Found");
                exit;
            }
        }
        if (is_method("BYE|CANCEL")) {
            rtpengine_delete();
        }
        t_relay();
        exit;
    }

    if (is_method("REGISTER")) {
        $sht(loc=>$tU) = $si + ":" + $sp + ";transport=tls";
        xlog("L_INFO", "Ubicacion guardada: $tU -> $sht(loc=>$tU)\n");
    }

    xlog("L_INFO", "Reenviando a PBX\n");
    rtpengine_offer();
    $du = "sip:172.31.15.109:5060;transport=udp";
    t_relay();
}

reply_route {
    if (status =~ "18[0-9]" || status =~ "2[0-9][0-9]") {
        if (has_body("application/sdp")) {
            rtpengine_answer();
        }
    }
}
